.main {
    border: 3px solid rgb(93, 51, 11);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;

    padding: 30px;
    text-align: center;
    width: 200px;
    color: rgb(93, 51, 11);
    font-weight: bold;
    background-color:  #00B1CB;
}

.submit-btn {
    font-family: Arial, Helvetica, sans-serif;
}